@charset "UTF-8";
/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}

/* og látum erfast á allt */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  --spacing: 1rem;
  --max-width: 1200px;
  --min-width-image: 200px;
  --max-width-image: 300px;
  --max-width-footer-section: 250px;
  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  --vertical-space: calc(var(--gutter) * 1);
  --vertical-space-large: calc(var(--gutter) * 1.5);
  --spacing: 1rem;
  --width-offset: calc(100% - (2 * var(--offset)));
  --font-family-heading: "PlayfairDisplay", serif;
  --font-family-base: "Poppins", arial, helvetica, sans-serif;
  --font-size-base: 1rem;
  --font-size-headings: 1.5rem;
  --background-primary: #fafafa;
  --background-secondary: #F7F1EB;
  --description-color: #E3CDB1;
}

html {
  background-color: var(--color-background-primary);
  font-size: var(--font-size-base);
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Playfair Display";
  src: url(./fonts/PlayfairDisplay/static/PlayfairDisplay-Bold.ttf) format("woff2");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Poppins", serif;
  src: url("./fonts/Poppins/Poppins-Regular.ttf") format("woff2");
  font-weight: 300;
  font-style: normal;
}
html,
input,
select,
button {
  font-family: var(--font-family-base);
}

h1, h2, h3, legend {
  font-family: var(--font-family-heading);
}

h1 {
  font-size: 60px;
}

button {
  color: var(--description-color);
  border-color: var(--description-color);
  background-color: rgba(255, 0, 0, 0);
  border: solid;
  width: 250px;
  height: 52px;
}

/**
 * Eftirfarandi setur upp grunn umbrot (layout) síðu með flexbox.
 * Við förum yfir flexbox í viku 4 en þangað til er hægt að nota þetta
 * sem grunn og án breytinga.
 * Athugið að til þess að þetta virki þar að setja <div class="wrapper"> utan um allt efni 
 * innan <body>.
 */
.wrapper {
  /* Notum grid hér til að setja upp bil á milli header, meginmáls og fóts */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  /* grid items eru miðjuð */
  justify-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background-primary);
}

.wrapper .wrapper-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper .wrapper-main {
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  grid-column: span 12;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: center;
  max-width: 100%;
}

@media (width >= 600px) {
  .card {
    grid-column: span 4;
  }
}
.card {
  display: flex;
  flex-direction: column;
  height: 390px;
  width: 100%;
  background-color: #b0f5c9;
}

.content {
  width: var(--width-offset);
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  justify-items: center;
  gap: var(--gutter);
}

.content .text {
  grid-column: span 5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: var(--spacing);
}

.background-image {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: inherit;
  overflow: hidden;
}

.background-image > .group {
  position: relative;
  top: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.background-image .shadow-circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  aspect-ratio: 1/1;
  box-shadow: -20px 10px 60px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
}

.background-image img {
  position: relative;
}

.hero-section {
  height: 800px;
}

.content-section {
  display: grid;
  grid-template-columns: inherit;
  background-color: var(--background-secondary);
  height: 800px;
  position: relative;
}

.content-section > .content > .foreground-image {
  position: absolute;
  width: 100%;
  height: inherit;
}

/*# sourceMappingURL=style.css.map */
