.background-image {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: inherit;
  overflow: hidden;
  //  z-index: -1;
}

.background-image>.group {
  position: relative;
  top: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
}

.background-image .shadow-circle {
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;

  width: 80%;
  aspect-ratio: 1/1;

  box-shadow: -20px 10px 60px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
}

.background-image img {
  position: relative;
}
