:root {
  --spacing: 1rem;

  --max-width: 1200px;
  --min-width-image: 200px;
  --max-width-image: 300px;
  --max-width-footer-section: 250px;

  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;

  --vertical-space: calc(var(--gutter) * 1);
  --vertical-space-large: calc(var(--gutter) * 1.5);
  --spacing: 1rem;

  --width-offset: calc(100% - (2 * var(--offset)));

  --font-family-heading: 'Playfair Display', serif;
  --font-family-base: 'Poppins', arial, helvetica, sans-serif;

  --font-size-base: 1rem;
  --font-size-headings: 1.5rem;

  //Litir
  --background-primary: #fafafa;
  --background-secondary: #F7F1EB;

  --text-color-base:  #5E5B69;
  --text-color-gray: #9B9B9B;

  --description-color: #E3CDB1;
  --hr-line-color: #E7E7E7;
}
