html {
  background-color: var(--color-background-primary);
  font-size: var(--font-size-base);
}

img {
  max-width: 100%;
}

// Hér mun letur koma og fleira 
@font-face {
  font-family: "Playfair Display";
  src: url(./fonts/PlayfairDisplay/static/PlayfairDisplay-Bold.ttf) format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Poppins", serif;
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;

}

html,
input,
select,
button {
  font-family: var(--font-family-base);
}

h1,h2,h3,legend {
  font-family: var(--font-family-heading);
}
h1{
  font-size: 60px;
}


button {
  color: var(--description-color);
  border-color:var(--description-color);
  background-color: #ff000000;
  border: solid;
  width: 250px;
  height: 52px;
}

.description_text {
  display: grid;
}

.description_text>.description {
  color: var(--description-color);
}

.hr_button{
  width: 100%;
  grid-column: span 12;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing);
}
.hr_button>button{
  width: 250px;
}

.hr_button > hr{
  color: var(--hr-line-color);
  width: 35%;
}


