html {
  background-color: var(--background-primary);
  font-size: var(--font-size-base);
}

img {
  max-width: 100%;
}

// Hér mun letur koma og fleira 
@font-face {
  font-family: 'Playfair Display';
  src: url("./fonts/PlayfairDisplay/static/PlayfairDisplay-Bold.ttf") format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: Poppins, serif;
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;

}

html,
input,
select,
button {
  font-family: var(--font-family-base);
}

h1,
h2,
h3,
legend {
  font-family: var(--font-family-heading);
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 22px;
}

@media (width < 600px){

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
}

a,
a:visited {
  text-decoration: none;
}

a h1,
a h2,
a h3 {
  color: var(--text-color-black);
}

button {
  color: var(--description-color);
  border-color: var(--description-color);
  background-color: var(--transparent);
  border: solid;
  width: 250px;
  aspect-ratio: 5/1;
}
@media(width < 600px){
  button{
    width: 191px;
  }
}

.hr_button {
  width: 100%;
  grid-column: span 12;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing);
}


.hr_button > hr {
  width: 35%;
}

ul {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: var(--spacing);
}

ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

ul li a {
  color: var(--text-color-base);
}



