.ingredients-wrapper {
  color: var(--text-color-gray);
  width: 100%;
  grid-column: span 4;
  display: grid;
  gap: var(--vertical-space);
}

.method-wrapper {
  grid-column: span 8;
  color: var(--text-color-gray);
  width: 100%;
}

.ingredients-wrapper ul {
  justify-content: flex-start;
  flex-direction: column;
}

.ingredients-wrapper ul li {
  justify-content: flex-start;
}

.ingredients-wrapper b {
  color: var(--text-color-base);
}

@media (width < 600px) {
  .method-wrapper .text p {
    display: block;
  }
}

