section {
  width: var(--width-offset);
  max-width: var(--max-width);
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  justify-items: center;
  gap: var(--gutter);
}
