/**
 * Eftirfarandi setur upp grunn umbrot (layout) síðu með flexbox.
 * Við förum yfir flexbox í viku 4 en þangað til er hægt að nota þetta
 * sem grunn og án breytinga.
 * Athugið að til þess að þetta virki þar að setja <div class="wrapper"> utan um allt efni 
 * innan <body>.
 */

.wrapper {
  /* Notum grid hér til að setja upp bil á milli header, meginmáls og fóts */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;

  /* grid items eru miðjuð */
  justify-items: center;

  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background-primary);

}
.wrapper .wrapper-main {
  display: grid;
  width: 100%;
  gap: var(--vertical-space);
}

@media (width >=800px) {
  .wrapper {
    gap: var(--vertical-space-large);
  }
  .wrapper-main{
    gap: var(--vertical-space-large);
  }
}

.wrapper .wrapper-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

